<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.6.6" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Resource" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Route" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Sanitize" version="1.6.5" targetFramework="net461" />
</packages>